body,html{
	height: 100%;
	font-size: 12px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul{
	margin: 0;
	padding: 0;
}
.header{
	overflow: hidden;
	min-width: 380px;
	width: 100%;
	background: #efefef;
	padding: 10px 0;
    height: 90px;
}
.mainContent{
    overflow: hidden;
    background: #efefef;
}
.main-left,.main-right{
	float: left;
	width: 50%;
	overflow: auto;
}
.left-inner-content{
    padding-left: 10px;
    padding-right: 5px;
}
.right-inner-content{
    padding-left: 5px;
    padding-right: 10px;
}
.left-inner-content,.right-inner-content{
}
.left-inner-main,.right-inner-main{
	background: #FFF;
	overflow: auto;
	padding: 0 10px;
}
.left-inner-main div,.right-inner-main div{
	height: initial;
}
#mainContentHolder{
	position: relative;
}
#draggable{
	position: absolute;
    z-index: 3;
    width: 10px;
    cursor: col-resize;
    background: transparent;
}