<!DOCTYPE html>
<html ng-app="mathhammer">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller="ModelController as vm">
    <div>
      <button ng-click="vm.addModel(0)">Add Model</button>
    </div>
    
    <div ng-repeat="model in vm.displayedModels track by $index">
      <ng-include src="model"></ng-include>
    </div>
    
    <script type="text/ng-template" id="model.tpl.html">
      <div style="border:1px solid black">
        <p ng-bind="name"></p>
        <p>Hits: {{hits(attacks,bs)}}</p>
        <p>Wounds S4 v. T4: {{wounds()}}</p> 
        Name: <input type="text" ng-model="name" /><br>

        Attacks: <input type="text" ng-model="attacks">
        <!-- <button ng-click="logAttacks(attacks)">Console Log</button> -->
        <br>

        BS/WS: <input type="number" ng-model="bs" /><br>

        Strength: <input type="number" ng-model="strength" /><br>

        Save: <input type="number" ng-model="save" /><br>

        AP: <input type="number" ng-model="ap" /><br>

        Damage: <input type="number" ng-model="d" /><br>

        Points: <input type="number" ng-model="points" /><br>
      </div>
    </script>
            <!-- Attacks: <input type="text" ng-model="attacks">
            <button ng-click="logAttacks(attacks)">Console Log</button> -->
  </body>


</html>
</html>
