<div>
<table style="width:100%">
  <tr>
    <th>{{model.name}}</th>
    <th>T3</th>
    <th>T4</th>     
    <th>T5</th>
    <th>T6</th>
    <th>T7</th> 
    <th>T8</th>
  </tr>
  <tr>
    <td>dmg</td>
    <td>{{model.damage[0]}}</td>
    <td>{{model.damage[1]}}</td>
    <td>{{model.damage[2]}}</td>
    <td>{{model.damage[3]}}</td>
    <td>{{model.damage[4]}}</td>
    <td>{{model.damage[5]}}</td>
  </tr>
  <tr>
    <td>dpp</td>
    <td>{{model.dpp[0]}}</td>
    <td>{{model.dpp[1]}}</td>
    <td>{{model.dpp[2]}}</td>
    <td>{{model.dpp[3]}}</td>
    <td>{{model.dpp[4]}}</td>
    <td>{{model.dpp[5]}}</td>
  </tr>

</table>


    <form>
        Name: <input type="text" ng-model="model.name" /></br>

        Attacks: <input type="number" ng-model="model.attacks" /></br>

        BS/WS: <input type="number" ng-model="model.bs" /></br>

        Strength: <input type="number" ng-model="model.strength" /></br>

        Save: <input type="number" ng-model="model.save" /></br>

        AP: <input type="number" ng-model="model.ap" /></br>

        Damage: <input type="number" ng-model="model.d" /></br>

        Points: <input type="number" ng-model="model.points" /></br>
    </form>
    <br>
</div>
