<div style="border:1px solid black">
<p>Damage: {{damageT3}}, {{damageT4}}, {{damageT5}}, {{damageT6}}, {{damageT7}}, {{damageT8}}</p>
<p>DPP:{{dppT3}},{{dppT4}},{{dppT5}},{{dppT6}},{{dppT7}},{{dppT8}}</p>

    <form>
        Name: <input type="text" ng-model="model.name" /></br>

        Attacks: <input type="number" ng-model="model.attacks" /></br>

        BS/WS: <input type="number" ng-model="model.bs" /></br>

        Strength: <input type="number" ng-model="model.strength" /></br>

        Save: <input type="number" ng-model="model.save" /></br>

        AP: <input type="number" ng-model="model.ap" /></br>

        Damage: <input type="number" ng-model="model.d" /></br>

        Points: <input type="number" ng-model="model.points" /></br>
    </form>
</div>
