input, select {
  margin: 0;
  padding: 0;
}
input[type="number"], select {
  width: 40px;
  height: 20px;
}
span {
  font-size: 10px;
  text-align: left;
  text-outline
}

.body-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  background-color: #727272;
  padding: 10px;
  min-height: 100%;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
}
h1, h2, h3 {
 text-align: center;
 margin: 0;
 padding: 0; 
}
hr {
  margin: 0;
  padding: 0;
}
.body-grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  /*text-align: center;*/
  padding: 20px;
/*  font-size: 20px;*/
  border: 1px solid black;
}
.header {
  grid-column-start: 1;
  grid-column-end: 9;
}
.models {
  grid-column-start: 1;
  grid-column-end: 4;
}

.models-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 5px;
  padding: 10px;
  min-height: 100%;
  border: 1px solid black;
}

.model-title-bar {
  grid-column-start: 1;
  grid-column-end: 5;
}

.models-basic-grid {
  grid-column-start: 1;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-tempalte-rows: auto auto;
  text-align: left;
  border-bottom: 1px dotted black;
  padding: 5px;
}

.models-advanced-grid-1 {
  display: grid;
  grid-template-columns: auto auto ;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 5px;
  border-right: 1px dotted black;
  padding: 5px;
}

.rerolls-title {
  grid-column-start: 1;
  grid-column-end: 3;
}

.models-advanced-grid-2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 5px;
  border-right: 1px dotted black;
  padding: 5px;
}

.calcs {
  grid-column-start: 4;
  grid-column-end: 6;
}
.results {
  grid-column-start: 6;
  grid-column-end: 9;
}
.footer {
  grid-column-start: 1;
  grid-column-end: 9;
}