<div>
    <table style="width:100%">
      <tr>
        <th>{{model.name}}</th>
        <th>T3</th>
        <th>T4</th>     
        <th>T5</th>
        <th>T6</th>
        <th>T7</th> 
        <th>T8</th>
      </tr>
      <tr>
        <td>dmg</td>
        <td>{{model.damage[0]}}</td>
        <td>{{model.damage[1]}}</td>
        <td>{{model.damage[2]}}</td>
        <td>{{model.damage[3]}}</td>
        <td>{{model.damage[4]}}</td>
        <td>{{model.damage[5]}}</td>
      </tr>
      <tr>
        <td>dpp</td>
        <td>{{model.dpp[0]}}</td>
        <td>{{model.dpp[1]}}</td>
        <td>{{model.dpp[2]}}</td>
        <td>{{model.dpp[3]}}</td>
        <td>{{model.dpp[4]}}</td>
        <td>{{model.dpp[5]}}</td>
      </tr>
    </table>

<div style="display:flex;flex-direction:row">
    <form>
        Name: <input type="text" ng-model="model.name" /></br>

        Attacks: <input type="number" ng-model="model.attacks" /></br>

        BS/WS: <input type="number" ng-model="model.skill" /></br>

        Strength: <input type="number" ng-model="model.strength" /></br>

        Save: <input type="number" ng-model="model.save" /></br>

        AP: <input type="number" ng-model="model.ap" /></br>

        Damage: <input type="number" ng-model="model.d" /></br>

        Points: <input type="number" ng-model="model.points" /></br>
    </form>
    <form>
        <input type="checkbox" ng-model="model.rerolls.hits.ones" />Reroll Hit rolls of 1:</br>
        <input type="checkbox" ng-model="model.rerolls.hits.failed" />Reroll failed Hit Rolls: <br>
        <input type="checkbox" ng-model="model.rerolls.wounds.ones" />Reroll Wound rolls of 1: <br> 
        <input type="checkbox" ng-model="model.rerolls.wounds.failed" />Reroll failed Wound Rolls: <br> 
    </form>
    <form>
        +- to Hit rolls: <input type="number" ng-model="model.hitMod" /></br><br>
        <input type="checkbox" ng-model="model.hitTrigger.trigger" />On Hit rolls of: <input type="number" ng-model="model.hitTrigger.roll" /></br>
        Extra attack(s): <input type="number" ng-model="model.hitTrigger.attacks" /></br>
        Extra hit(s): <input type="number" ng-model="model.hitTrigger.hit"/></br>
        Mortal's instead: <input type="number" ng-model="model.hitTrigger.mortals"/></br>
    </form>
    <form>
        +- to Wound rolls: <input type="number" ng-model="model.woundMod" /></br><br>
        <input type="checkbox" ng-model="model.woundTrigger.trigger"/>On Wound rolls of: <input type="number" ng-model="model.woundTrigger.roll" /></br>
        Extra mortal(s): <input type="number" ng-model="model.woundTrigger.mortals" /></br>
        Damage instead: <input type="number" ng-model="model.woundTrigger.d" /></br>
        AP instead: <input type="number" ng-model="model.woundTrigger.ap" /></br>
    </form>
    <form>
        <input type="checkbox" ng-model="model.autoWound.auto" />Auto-Wound on: <input type="number" ng-model="model.autoWound.roll" /><br>
    </form>
</div>
</div>
